<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.stelliontech.com/" target="_blank">
                        StellionTech
                    </a>
                </li>
                <li>
                    <a href="https://www.stelliontech.com/#rs-services" target="_blank">
                        Servicios
                    </a>
                </li>
                <li>
                    <a href="https://www.stelliontech.com/#rs-about" target="_blank">
                        Nosotros
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            StellionTech
            &copy;
            {{test | date: 'yyyy'}}
        </div>
    </div>
</footer>
